@tailwind base;
@tailwind components;
@tailwind utilities;


.hero{
    height: 100vh;
    background-image: url(./assets/img/hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* tablet */
@media (max-width: 1020px){
    .hero{
        height: 100vh;
        background-image: url(./assets/img/heroMobile2.png);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }
}
/* tablet */
@media (max-width: 500px){
    .hero{
        height: 100vh;
        background-image: url(./assets/img/heroMobile2.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

/* faq */
.txt-faq{
    text-align: left !important;
}

/* footer hero */
.footerHero{
    height: 1500px;
    background-image: url(./assets/img/footer.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* tablet */
@media (max-width: 1020px){
    .footerHero{
        height: 100vh;
        background-image: url(./assets/img/footerMobile3.png);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }
}
/* tablet */
@media (max-width: 500px){
    .footerHero{
        height: 100vh;
        background-image: url(./assets/img/footerMobile2.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}



/* btn */
/* button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    color: #01717E !important;
    font-size: 1rem;
    font-weight: bold;
    z-index: 20;
    transition: all 0.3s eabutton:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #01717E;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}se-in-out;
}

button:hover span {
    color: white !important;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
} */
